* {
  user-select: none;
}
body {
  position: fixed;
  /* border: 1px solid #f00; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
}
.item {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-size: 100%;
}
.footer {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  bottom: 30px;
  left: 0;
}
.footer .item {
  width: 70px;
  height: 70px;
}

.red {
  background-image: url(./imgs/1.jpg);
}
.green {
  background-image: url(./imgs/2.jpg);
}
.blue{
  background-image: url(./imgs/3.jpg);
}
#app {

}
.list_box {
  position: fixed;
  top: 100px;
  left: calc(50% - 35px);
  height: 400px;
  width: 70px;
  /* border: 1px solid #ccc; */
  overflow: hidden;
}
.list {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.list .item {
  margin-bottom: 10px;
  border: 1px solid #ccc;
}
.score {
  text-align: right;
}
.setting {
  width: 100%;
  position: fixed;
  bottom: 120px;
  display: flex;
  justify-content: space-evenly;
}
.setting button {
  height: 40px;
  width: 80px;
  background-color: pink;
  color: #a268ef;
  outline: none;
  border-color: #a268ef;
  border-radius: 16px;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  color: #a268ef;
}
.tips {
  position: fixed;
  width: 100%;
  left: 0;
  top: 500px;
  text-align: center;
  color: #a268ef;
}
.score_tips {
  position: fixed;
  width: 100%;
  left: 0;
  top: 480px;
  text-align: center;
}
.add {
  color: rgb(242, 70, 70);
}
.reduce {
  color: rgb(59, 243, 71);
}
.result_box_mask {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.12);
}
.result_box {
  box-sizing: border-box;
  position: fixed;
  z-index: 3;
  width: calc(100% - 60px);
  padding: 20px 0 24px;
  text-align: center;
  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: 0 0 20px 1px #a268ef;
  border-radius: 20px;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.result_box h1 {
  color: #a268ef;
}
.result_box h2 {
  color: #ccc;
  margin: 0;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
}
.result_box h2 span {
  color: #a268ef;
}
.result_box .btn_box {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.result_box .btn_box button {
  height: 40px;
  width: 80px;
  background-color: pink;
  color: #a268ef;
  outline: none;
  border-color: #a268ef;
  border-radius: 16px;
}
.loading_mask {
  position: fixed;
  z-index: 101;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: pink;
  color: #fff;
}
.load_tips {
  position: absolute;
  height: 30px;
  width: 80%;
  bottom: 350px;
  left: 10%;
  border-radius: 20px;
  text-align: center;
  line-height: 30px;
  font-size: 20px;
}
.load_box {
  position: absolute;
  height: 30px;
  width: 80%;
  bottom: 300px;
  left: 10%;
  background-color: #f0c9f3;
  border-radius: 20px;
  text-align: center;
  line-height: 30px;
  overflow: hidden;
}
.load_box .load {
  background-color: #a268ef;
  /* width: 50%; */
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}
.load_box .load_text {
  position: relative;
  z-index: 11;
}
.footer a:active {
  transform: scale(1.1);
  outline: none;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}
.open_game {
  font-size: 40px;
  position: fixed;
  top: 30%;
  width: 80%;
  left: 10%;
  box-sizing: border-box;
  text-align: center;
  z-index: 102;
  border: 2px solid #fff;
  border-radius: 20px;
}
.bgm_box {
  position: fixed;
  right: 40px;
  top: 60px;
}
.bgm_box .bgm {
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  border-radius: 50%;
  border: 1px solid #a268ef;
  padding: 4px;
}
.bgm_box .bgm img {
  display: block;
  width: 100%;
}
.spin {
  animation: spin 2s infinite linear;
}
@keyframes spin {
  from {
    transform: rotate(90deg);
  }
  to {
    transform: rotate(450deg);
  }
}
.ready_to_begin {
  position: fixed;
  z-index: 150;
  text-align: center;
  top: 10%;
  width: 100%;
}
.ready_to_begin img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}