<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>个税</title>
  <style>
    #app {
      font-size: 18px;
      padding: 30px 100px 100px;
      user-select: none;
    }
    label {
      cursor: pointer;
    }
    input[type='checkbox'] {
      cursor: pointer;
      width: 30px;
      height: 20px;
    }
    
    .form {
      line-height: 2em;
    } 
    .form input[type='number'] {
      width: 100px;
      height: 30px;
      font-size: 20px;
    }
    
    .line div {
      display: flex;
      align-items: center;
    }
    .items {
      display: flex;
      flex-wrap: wrap;
    }
    .item {
      margin-right: 10px;
      margin-bottom: 10px;
    }
    .item label {
      display: inline-block;
      width: 110px;
    }
    .res_line {
      margin-bottom: 10px;
    }
    @media screen and (max-width: 600px) {
      #app {
        font-size: 16px;
        padding: 30px 10px;
      }
    }
    .rule_img {
      width: 600px;
      max-width: 100%;
    }
    .calc {
      display: grid;
      align-items: center;
      margin-top: 20px;
      font-size: 22px;
      grid-gap: 20px;
      grid-template-columns: minmax(80px, 200px) minmax(220px, 1fr);
    }
    button {
      height: 50px;
      cursor: pointer;
      font-size: 22px;
    }
    .form select {
      width: 80px;
      height: 30px;
      cursor: pointer;
      font-size: 22px;
    }
  </style>
</head>
<body>
  <div id="app">
    <h1>个税计算器</h1>
    <div class="form">
      <div class="item"><label for="1">税前工资：</label> <input id="1" type="number" v-model="baseSalary"></div>
      <div class="item"><label for="2">五险一金：</label> <input id="2" type="number" v-model="socialInsurance"></div>
      专项抵扣
      <div class="line">
        <div>
          <label for="hr">住房租金：</label><input id="hr" type="checkbox" v-model="houseRent">
        </div>
        <div v-if="houseRent">
          <input id="h1" name="house" type="radio" value="1500" v-model="houseRentLimit"> <label for="h1">1500/月</label>&nbsp;&nbsp;
          <input id="h2" name="house" type="radio" value="1100" v-model="houseRentLimit"> <label for="h2">1100/月</label>&nbsp;&nbsp;
          <input id="h3" name="house" type="radio" value="800" v-model="houseRentLimit"> <label for="h3">800/月</label>&nbsp;&nbsp;
        </div>
      </div>
      <div class="line">
        <div><label for="hc1">住房贷款：</label><input id="hc1" name="hc" type="checkbox" v-model="houseCredit"></div>
      </div>
      <div class="line">
        <div><label for="4">幼儿照护：</label><input id="4" type="checkbox" v-model="childrenDeduction"></div>
        <div v-if="childrenDeduction">
          <input id="c1" name="child" type="radio" value="2000" v-model="childrenDeductionLimit"> <label for="c1">1个</label>&nbsp;&nbsp;
          <input id="c2" name="child" type="radio" value="4000" v-model="childrenDeductionLimit"> <label for="c2">2个</label>&nbsp;&nbsp;
          <input id="c3" name="child" type="radio" value="6000" v-model="childrenDeductionLimit"> <label for="c3">3个</label>&nbsp;&nbsp;
        </div>
      </div>
      <div class="line">
        <div><label for="ce">子女教育：</label><input id="ce" name="ce" type="checkbox" v-model="childrenEducation"></div>
        <div v-if="childrenEducation">
          <input id="ce1" name="ce" type="radio" value="2000" v-model="childrenEducationLimit"> <label for="ce1">1个</label>&nbsp;&nbsp;
          <input id="ce2" name="ce" type="radio" value="4000" v-model="childrenEducationLimit"> <label for="ce2">2个</label>&nbsp;&nbsp;
          <input id="ce3" name="ce" type="radio" value="6000" v-model="childrenEducationLimit"> <label for="ce3">3个</label>&nbsp;&nbsp;
        </div>
      </div>
      <div class="line">
        <div>
          <label for="5">赡养老人：</label><input id="5"  type="checkbox" v-model="parentDeduction">
        </div>
        <div v-if="parentDeduction">
          <input id="p1" name="parent" type="radio" value="3000" v-model="parentDeductionLimit"> <label for="p1">3000/月</label>&nbsp;&nbsp;
          <input id="p2" name="parent" type="radio" value="1500" v-model="parentDeductionLimit"> <label for="p2">1500/月</label>&nbsp;&nbsp;
        </div>
      </div>
      <div class="line">
        <div><label for="6">继续教育：</label><input id="6"  type="checkbox" v-model="adultEducation"></div>
        <div v-if="adultEducation">
          <input id="a1" name="adult" type="radio" value="400" v-model="adultEducationLimit"> <label for="a1">400/月</label>&nbsp;&nbsp;
          <input id="a2" name="adult" type="radio" value="3600" v-model="adultEducationLimit"> <label for="a2">3600/年</label>&nbsp;&nbsp;
        </div>
      </div>
      <div class="item"><label for="medical">大病医疗：</label><input id="medical" type="number" v-model="medicalFee"></div>
      <div class="items">
        <div>
          <span style="color: red">个人所得税是按工资实际发放的时间来确定纳税月份的，而不是按劳动发生的时间。因此，虽然12月的工资是对上一年的劳动报酬，但由于发放时间在次年1月，所以它算作次年1月的收入，按照当年的税率和扣除项进行计算。
            （0月就是上一年12月）</span>
          <div>包含加班费的工资（当月应发工资）：</div>
        </div>
        <div class="item" v-for="(item, key) in 12" :key="key">
          <label :for="key+100">{{key}}月份工资：</label> <input :id="key+100"  type="number" v-model="salaryArr[key]">
        </div>
      </div>
      <div class="calc">
        <button @click="calc">计  算</button>
        <div>
          前  
          <select name="" v-model="currentMonth">
            <option :value="1">1</option>
            <option :value="2">2</option>
            <option :value="3">3</option>
            <option :value="4">4</option>
            <option :value="5">5</option>
            <option :value="6">6</option>
            <option :value="7">7</option>
            <option :value="8">8</option>
            <option :value="9">9</option>
            <option :value="10">10</option>
            <option :value="11">11</option>
            <option :value="12">12</option>
          </select> 
          个月的
        </div>
      </div>
    </div>
    <hr>
    <div class="result" v-html="resultStr"></div>
    <!-- <img class="rule_img" src="./1.jpg" alt=""> -->
  </div>
</body>
<script src="../vue.js"></script>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script>

  const { createApp, ref, onMounted, watch } = Vue

  createApp({
    setup() {
      const baseSalary = ref(10000)   // 基础工资
      const beginPoint = ref(5000)  // 起征点

      const socialInsurance = ref(1278.55)  // 五险一金
      const houseRent = ref(false)   // 租房
      const houseRentLimit = ref(1500)   // 租房抵扣
      const houseCredit = ref(false)  // 房贷
      const houseCreditLimit = ref(1000)  // 房贷抵扣
      const childrenDeduction = ref(false)  // 小孩
      const childrenDeductionLimit = ref(2000)  // 小孩抵扣
      const childrenEducation = ref(false)  // 子女教育
      const childrenEducationLimit = ref(2000)  // 子女教育抵扣
      const parentDeduction = ref(false)  // 老人
      const parentDeductionLimit = ref(1500)  // 老人抵扣
      const adultEducation = ref(false)  // 继续教育
      const adultEducationLimit = ref(400)  // 继续教育抵扣
      const medicalFee = ref(0)  // 大病医疗  

      const level1 = 36000
      const level1Rate = 0.03
      const level1TaxAll = level1 * level1Rate
      const level2 = 144000
      const level2Rate = 0.1
      const level2TaxAll = level1TaxAll + (level2 - level1) * level2Rate
      const level3 = 300000
      const level3Rate = 0.2
      const level3TaxAll = level2TaxAll + (level3 - level2) * level3Rate
      const level4 = 420000
      const level4Rate = 0.25
      const level4TaxAll = level3TaxAll + (level4 - level3) * level4Rate
      const level5 = 660000
      const level5Rate = 0.3
      const level5TaxAll = level4TaxAll + (level5 - level4) * level5Rate
      const level6 = 960000
      const level6Rate = 0.35
      const level6TaxAll = level5TaxAll + (level6 - level5) * level6Rate
      const level7 = 9999999999999
      const level7Rate = 0.45
      const level7TaxAll = level6TaxAll + (level7 - level6) * level7Rate
      const resultStr = ref('')

      const salaryArr = ref([])
      const initSalary = () => {
        console.log('xxxxx')
        for(let i=0; i<12; i++) {
          salaryArr.value[i] = baseSalary.value
        }
      }

      watch(baseSalary, e => {
        initSalary()
      })

      watch(houseRent, e => {
        e && (houseCredit.value = !e)
      })

      watch(houseCredit, e => {
        e && (houseRent.value = !e)
      })
      
      const taxPaid = ref(0)
      const calcTax = (sumNum, salary) => {
        let tax = 0
        if (sumNum <= beginPoint.value) {
          tax = 0
        } else if (sumNum <= level1) {
          tax = sumNum * level1Rate - taxPaid.value
        } else if (sumNum <= level2) {
          tax = (sumNum - level1) * level2Rate - taxPaid.value + level1TaxAll
        } else if (sumNum <= level3) {
          tax = (sumNum - level2) * level3Rate - taxPaid.value + level2TaxAll
        } else if (sumNum <= level4) {
          tax = (sumNum - level3) * level4Rate - taxPaid.value + level3TaxAll
        } else if (sumNum <= level5) {
          tax = (sumNum - level4) * level5Rate - taxPaid.value + level4TaxAll
        } else if (sumNum <= level6) {
          tax = (sumNum - level5) * level6Rate - taxPaid.value + level5TaxAll
        } else if (sumNum <= level7) {
          tax = (sumNum - level6) * level7Rate - taxPaid.value + level6TaxAll
        }
        taxPaid.value += tax
        resultStr.value += ` <span style="color: green">税后：${(salary - socialInsurance.value - tax).toFixed(2)}</span>  <span style="color: blue">应纳税：${tax.toFixed(2)}</span><br></div>`
      }
      
      // 计算
      const calcSumTaxAmount = (num) => {
        if (num > 12) {
          num = 12
        }
        resultStr.value = ''
        taxPaid.value = 0
        let sumTaxAmount = 0   // 应纳税所得额
        if (medicalFee.value) {
          sumTaxAmount -= medicalFee.value
        }  
        if (adultEducation.value && adultEducationLimit.value != 400) {
          sumTaxAmount -= adultEducationLimit.value
        }
        let sumSalary = 0
        for(let i = 0; i < num; i++) {
          let currentMonthSalary = salaryArr.value[i] || baseSalary.value
          sumSalary += currentMonthSalary
          let taxAmount = currentMonthSalary - socialInsurance.value
                                            - beginPoint.value   
                                            - (houseRent.value ? houseRentLimit.value : 0)
                                            - (houseCredit.value ? houseCreditLimit.value : 0)
                                            - (childrenDeduction.value ? childrenDeductionLimit.value : 0)
                                            - (childrenEducation.value ? childrenEducationLimit.value : 0)
                                            - (parentDeduction.value ? parentDeductionLimit.value : 0)
                                            - (adultEducation.value && adultEducationLimit.value == 400 ? adultEducationLimit.value : 0)
          if (taxAmount <= 0) {
            taxAmount = 0
          }
          sumTaxAmount += taxAmount
          resultStr.value += `<div class="res_line">第${i+1}个月 累计应纳税所得额：${sumTaxAmount>0 ? sumTaxAmount.toFixed(2) : 0} <span style="color: red">税前：${currentMonthSalary.toFixed(2)}</span>`
          calcTax(sumTaxAmount, currentMonthSalary)
        }
        resultStr.value += `
          税前总收入：${sumSalary.toFixed(2)}<br>
          总缴纳社保：${(socialInsurance.value*12).toFixed(2)}<br>
          总纳税额：${taxPaid.value.toFixed(2)}<br>
          税后总收入：${(sumSalary - socialInsurance.value*12 - taxPaid.value).toFixed(2)}<br>
        `
      }

      const currentMonth = ref(12)
      const calc = () => {
        calcSumTaxAmount(currentMonth.value)
      }

      onMounted(() => {
        initSalary()
      })
      
      return {
        baseSalary,
        beginPoint,
        socialInsurance,

        houseRent,
        houseRentLimit,
        houseCredit,
        houseCreditLimit,
        childrenDeduction,
        childrenDeductionLimit,
        childrenEducation,
        childrenEducationLimit,
        parentDeduction,
        parentDeductionLimit,
        adultEducation,
        adultEducationLimit,
        medicalFee,

        resultStr,
        currentMonth,
        salaryArr,
        calc,
        
      }
    }
  }).mount('#app')
  /*
    @copyright 小虾 since: 2024-10-11
  */
</script>
</html>